@CHARSET "ISO-8859-1";

@font-face {
  font-family: 'proxima-nova';
  src: url('../font/proxima_nova.eot'); /* IE9 Compat Modes */
  src: url('../font/proxima_nova.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/proxima_nova.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/proxima_nova.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/proxima_nova.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/proxima_nova.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'bebas-neue';
  src: url('../font/bebas_neue.eot'); /* IE9 Compat Modes */
  src: url('../font/bebas_neue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/bebas_neue.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/bebas_neue.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/bebas_neue.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/bebas_neue.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.h2, h2 {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*==================================================================================================================

==================================================================================================================*/

#headerBanner {
	min-height:400px;
	height:0%;
	max-height:calc(100% - 156px);
}

.header-top-top {
	background: #FFF;
	height: 75px;
	line-height: 75px;
	border-bottom: 1px solid #bdbdbd;
}

.header-top-middle {
	background: #000000;
	min-height: 400px;
	height: 100%;
}

.header-top-bottom {
	background: #ffffff;
	height: 81px;
	line-height: 80px;
	border-bottom: 1px solid #bdbdbd;
	border-top: 1px solid #bdbdbd;
}

/*==================================================================================================================

==================================================================================================================*/

.header-top-button {
	text-align: center;
	font-weight: bold;
	color: #8b8b8b;
}

/*==================================================================================================================
Basic
==================================================================================================================*/
html,body
{
	background: #e5e9e9;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "bebas-neue","Open Sans",Helvetica,Arial,sans-serif;
	font-feature-settings: "kern";
	text-align: justify; 
	text-justify: inter-word;
	font-size: 14px;
	word-spacing: 0.8px;
	letter-spacing: 1px;
}

addr {
	font-weight:600;
	color: #8b8b8b;
}

addr:hover {
	cursor: pointer;
	text-decoration: none;
	color: #c74545;
}

p {
	display: inline;
}

.menu {
	border-right: 1px solid #bdbdbd;
}

.gray {
	color: #8b8b8b;
}

.white {
	color: #FFFFFF;
}

.path {
	cursor: pointer;
	text-decoration: underline;
	color: #c74545;
}

.path:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #9b2f2f;
}

#logo {
	position:relative;
	height:400px;
	background: #030303 url("../imgs/dark-bg-texture-02.jpg") repeat scroll center top;
}

#mini-logo-home:hover {
    -ms-transform: translateX(-50%) scale(1.05,1.05); /* IE 9 */
    -webkit-transform: translateX(-50%) scale(1.05,1.05); /* Safari */
    transform: translateX(-50%) scale(1.05,1.05);
    cursor:pointer;	
}

.circle {
	position: absolute;
	margin-left:-15px;
	padding-right:15px;
	padding-left: 15px;
	top:50%;
	transform: translateY(-50%);
	max-width: 300px;
	width: 100%;
}

#alphabet {
	height:100%;
	background: url("../imgs/alphabet.png") center center;
	background-size: auto 50%; 
    background-repeat: no-repeat;
}

#title {
	font-size: 50px;
	color: #FFFFFF;
}

#login {
	background-color:#FFFFFF;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#c74545;
	border: 1px solid #c74545;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight:600;
	width: 100%;
	height: 40px;
    box-sizing: border-box;
	text-decoration:none;
	text-align: center;
	line-height: 40px;
}

#login:hover {
	background-color:#c74545;
	color:#FFFFFF;
}

.button-banner {
	background-color:#c74545;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:600;
	padding:12px 80px;
	text-decoration:none;
}

.button-banner:hover {
	background-color:#bd2a2a;
	color: #000;
}

.img-responsive-custom {
	display: block;
	height: 100%;
	width: auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	
}

.max-height {
	height: 100%;
}

.max-width {
	width: 100%;
}

.title-menu {	
	font-size:14px;
	font-weight:600;
	background:#c74545;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.title-menu-image {
	height:100%;
	background: #030303 url('imgs/aboutme.png') no-repeat scroll center top ;
	border-bottom:1px solid #bdbdbd;
	border-left:1px solid #bdbdbd;
	border-right:1px solid #bdbdbd;	
	height: calc(100% - 50px);
}

.item-bottom:hover .title-menu-image {
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	filter:brightness(105%);
	height: calc(100% - 30px);
}

.item-bottom:hover .title-menu {
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	background: #bd2a2a;
	font-size: 16px;
	color: #000;
}

.item-bottom:hover {
    cursor:pointer;
    -ms-transform: translate(0px,-10px);
	-webkit-transform: translate(0px,-10px);
	transform: translate(0px,-10px);
}

.submenu {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}

#submenu {
	height: calc(100% - 555px);
}

.test {
	background: #FF0000;
}